.navbar {
    background-color: #004d00 !important; /* Bardzo ciemny zielony */
    border: none !important;
}

.navbar-brand {
    color: white !important;
}

.navbar-nav li a {
    color: white !important;
}

.navbar-nav li a:hover {
    background-color: #006400 !important;
    color: white !important;
}
